<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <h1>Input Form</h1>
    <form action="/submit_form" method="post">
        <label for="input1">Input 1:</label>
        <input type="text" id="input1" name="input1"><br><br>

        <label for="input2">Input 2:</label>
        <input type="text" id="input2" name="input2"><br><br>

        <label for="input3">Input 3:</label>
        <input type="text" id="input3" name="input3"><br><br>

        <input type="checkbox" id="checkbox1" name="checkbox1" value="Option1">
        <label for="checkbox1">Checkbox 1</label><br>

        <input type="checkbox" id="checkbox2" name="checkbox2" value="Option2">
        <label for="checkbox2">Checkbox 2</label><br><br>

        <input type="radio" id="radio1" name="radio_group" value="Radio1">
        <label for="radio1">Radio 1</label><br>

        <input type="radio" id="radio2" name="radio_group" value="Radio2">
        <label for="radio2">Radio 2</label><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
